body{
    background-image: url("17157790-a-illustration-of-wild-animals-playing-musical-instruments.jpg");
    margin:0;
    padding:0;
    background-attachment: fixed;
    background-size: cover;
}

.elephant{
    position: absolute;
    top: 580px;
    left: 1480px;
    height:230px;
    width:270px;
    background-color: grey;
    border: 5px solid black;
    border-radius:30%;
    opacity: .3;
}

.face{
    position: relative;
    width:400px;
    height:365px;
    top:-370px;
    left:-70px;
    border: black;
    background-color: grey;
    border-radius: 50% 50% 50% 50%;
}

.eye{
    position: relative;
    top:126px;
    left:163px;
    background-color: black;
    /* background-color:#B15E02; */
    /* opacity:.8; */
    width:45px;
    height:50px;
    border-radius:50%;
    transform: rotate(0deg);
}

.eye_1{
    position: relative;
    top:5px;
    left:20px;
    /* background-color:white; */
    background-color:white;
    /* opacity:.8; */
    width:20px;
    height:30px;
    border-radius:50%;
    transform: rotate(0deg);
}

.ear-l{
    position: relative;
    top:-60px;
    left:290px;
    background-color:blue;
    /* background-color:#B15E02; */
    /* opacity:.8; */
    width:250px;
    height:300px;
    border-radius:50% 50% 50% 50%;
    transform: rotate(0deg);
}

.mouth{
    position: relative;
    top:215px;
    left:30px;
    background-color: black;
    width:150px;
    height:40px;
    border-radius:0% 0% 90% 90%;
    transform: rotate(-23deg);
}

.leg_1{
    position: relative;
    top:-220px;
    left:-100px;
    background-color:grey;
    width:150px;
    height:200px;
    border-radius:0% 0% 10% 10%;
    transform: rotate(75deg);
}

.l1_finger_1{
    position: relative;
    top:165px;
    left:20px;
    background-color:whitesmoke;
    width:35px;
    height:35px;
    border-radius:50% 50% 0% 0%;
    transform: rotate(0deg);
}



.l1_finger_2{
    position: relative;
    top:130px;
    left:55px;
    background-color: whitesmoke;
    width:35px;
    height:35px;
    border-radius:50% 50% 0% 0%;
    transform: rotate(0deg);
}

.leg_2{
    position: relative;
    top:-400px;
    left:80px;
    background-color: red;
    width:100px;
    height:200px;
    border-radius:0% 0% 10% 10%;
    transform: rotate(0deg);
}

.l2_finger_1{
    position: relative;
    top:180px;
    left:70px;
    background-color: black;
    width:20px;
    height:20px;
    border-radius:50% 50% 0% 0%;
    transform: rotate(0deg);
}

.l2_finger_2{
    position: relative;
    top:160px;
    left:50px;
    background-color: black;
    width:20px;
    height:20px;
    border-radius:50% 50% 0% 0%;
    transform: rotate(0deg);
}