body{
    background-image: url("17157790-a-illustration-of-wild-animals-playing-musical-instruments.jpg");
    margin:0;
    padding:0;
    background-attachment: fixed;
    background-size: cover;
}

.elephant{
    position: absolute;
    top: 580px;
    left: 1480px;
    height:230px;
    width:270px;
    background-color: grey;
    border: 5px solid black;
    border-radius:30%;
    opacity: .3;
}

.face{
    position: relative;
    width:370px;
    height:360px;
    top:-370px;
    left:-70px;
    border: black;
    background-color: grey;
    border-radius: 50% 50% 50% 50%;
}

.eye{
    position: relative;
    top:126px;
    left:163px;
    background-color:yellow;
    /* background-color:#B15E02; */
    /* opacity:.8; */
    width:45px;
    height:50px;
    border-radius:50%;
    transform: rotate(0deg);
}

.eye_1{
    position: relative;
    top:10px;
    left:20px;
    /* background-color:white; */
    background-color:red;
    /* opacity:.8; */
    width:15px;
    height:20px;
    border-radius:50%;
    transform: rotate(0deg);
}