
<div class="FULL_LION">
        <div class="test"></div>
        <div class="lion_body">
          </div>
            <div class="face">
                <div class="face-hair-circle"></div>
                <div class="face-hair-line-1"></div>
                <div class="face-hair-line-2"></div>
                <div class="face-hair-line-3"></div>
                <div class="face-hair-line-4"></div>
                <div class="face-hair-line-5"></div>
                <div class="face-hair-line-6"></div>
                <div class="face-hair-line-7"></div>
                <div class="face-hair-line-8"></div>
                <div class="face-hair-line-9"></div>
                <div class="face-hair-line-10"></div>
                <div class="face-hair-line-11"></div>
                <div class="ear-l">
                    <div class="ear-l-m"></div>
                </div>
                <div class="ear-r">
                    <div class="ear-r-m"></div>
                </div>
                <!-- <div class="face-background"></div> -->
                <div class="demq-background"></div>

                <div class="face_origin">
                    <div class="eye-l">
                        <div class="eye-l-m"> </div>
                    </div>
                    <div class="eye-r">
                        <div class="eye-r-m"> </div>
                    </div>
                    <div class="tongue"></div>
                    <div class="mouth-line-l"></div>
                    <div class="mouth-line-r"></div>
                    <div class="nose">
                        <div class="nose-m"></div>
                    </div>


                </div>
            </div>
            <div class="left_hand"></div>
            <div class="foot-l">
                    <div class="foot-l-tat">
                            <div class="foot-l-tat-m">
                                <div class="foot-l-tat-m-b1"></div>
                            </div>
                        </div>
            </div>
            <div class="foot-r">
                <div class="foot-r-tat">
                    <div class="foot-r-tat-m">
                        <div class="foot-r-tat-m-b1"></div>
                    </div>
                </div>
            </div>

            <div class="guitar">
                <div class="grif">
                    <div class="grif-rm"></div>
                </div>
                <div class="guitar-body">
                        <div class="guitar-circle-big">
                                <div class="guitar-circle-minicircle">
                                        <div class="guitar-circle-line"></div>
                                </div>
                        </div>
                        <div class="guitar-circle-small">
                    
                        </div>
                </div>
                <div class="guitar-lines">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                    <div class="line-3"></div>
                    <div class="line-4"></div>
                    <div class="line-5"></div>
                    <div class="line-6"></div>
                </div>
            </div>
            <div class="hand-left-up">
                <div class="hand-left-finger1"></div>
                <div class="hand-left-finger2"></div>
                <div class="hand-left-finger3"></div>
                <div class="hand-line"></div>
            </div>
            <div class="hand-right">
                <div class="hand-right-tev1"></div>
                <div class="hand-right-tev2"></div>
                <div class="hand-right-tev3"></div>
                <div class="hand-right-up">
                        <div class="hand-right-up-finger1"></div>
                        <div class="hand-right-up-finger2"></div>
                        <div class="hand-right-up-finger3"></div>
                        <div class="hand-right-up-finger-line"></div>
                </div>
        </div>
</div>

<div class="MUSIC_SIDE">
  <div class="MUSIC_GUITAR_1">
    <div class="G_1_B_1"></div>
    <div class="G_1_B_2"></div>
    <div class="G_1_B_3"></div>
    <div class="G_1_B_4"></div>
    <div class="G_1_B_5"></div>
    <div class="G_1_B_6"></div>
    <div class="G_1_B_7"></div>
    <div class="G_1_B_8"></div>
  </div>
  <div class="MUSIC_GUITAR_2">
    <div class="G_2_B_1"></div>
    <div class="G_2_B_2"></div>
    <div class="G_2_B_3"></div>
    <div class="G_2_B_4"></div>
    <div class="G_2_B_5"></div>
    <div class="G_2_B_6"></div>
    <div class="G_2_B_7"></div>
    <div class="G_2_B_8"></div>
  </div>
</div>
